@import "tailwindcss";

/* Custom grid classes for 15x15 grid */
.grid-cols-15 {
  grid-template-columns: repeat(15, minmax(0, 1fr));
}

.grid-rows-15 {
  grid-template-rows: repeat(15, minmax(0, 1fr));
}

/* Custom grid classes for 30x30 grid */
.grid-cols-30 {
  grid-template-columns: repeat(30, minmax(0, 1fr));
}

.grid-rows-30 {
  grid-template-rows: repeat(30, minmax(0, 1fr));
}
